@media (prefers-color-scheme: dark) {
  body {
    background: #2a2a2e;
    color: #fff;
  }
  body > main:nth-child(2) > section:nth-child(3) aside {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  #joke {
    border: 3px solid #3a3a3a !important;
  }
  section aside {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .dark-img {
    display: inline !important;
  }
  .light-img {
    display: none !important;
  }
  .cert-name {
    color: white !important;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 4rem;
}

#joke {
  font-size: 2rem;
  border: 1px solid #000;
}

.dist {
  font-size: 3rem;
}

pre {
  font-size: 1rem;
}

.punchline {
  font-size: 2.5rem;
}

@media only screen and (min-device-width: 700px) {
  #joke {
    max-width: 50vw;
    margin-right: auto;
    margin-left: auto;
  }
}
/*# sourceMappingURL=404.css.map */