@media only screen and (max-device-width: 700px) {
  .substImg {
    display: block !important;
    width: 100vw;
  }
  .mainImg {
    display: none;
  }
  .imgSubject {
    display: none;
  }
  .additionInfo {
    display: none;
  }
  .featured-img {
    width: 90vw !important;
  }
}
