@media (prefers-color-scheme: dark) {
  body {
    background: #2a2a2e;
    color: #fff;
  }
  body > main:nth-child(2) > section:nth-child(3) aside {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  #joke {
    border: 3px solid #3a3a3a !important;
  }
  section aside {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .dark-img {
    display: inline !important;
  }
  .light-img {
    display: none !important;
  }
  .cert-name {
    color: white !important;
  }
}

@media only screen and (max-device-width: 700px) {
  .substImg {
    display: block !important;
    width: 100vw;
  }
  .mainImg {
    display: none;
  }
  .imgSubject {
    display: none;
  }
  .additionInfo {
    display: none;
  }
  .featured-img {
    width: 90vw !important;
  }
}

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.logo img {
  border-radius: 50px;
}

mark#changingText {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  -webkit-animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.mainImg {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  width: 50vw;
}

.imgSubject {
  position: absolute;
  width: 50%;
  left: calc(25vw - 3px);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  padding-top: 0.4rem;
}

i.fa {
  margin-left: 10px;
  margin-right: 10px;
}

#certs iframe {
  margin-right: 20px;
  margin-left: 20px;
}

.dark-img {
  display: none;
}

.light-img {
  display: inline;
}

.cert-name {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: black;
}

section h2 {
  font-size: 1.9rem;
}

section h3 {
  font-size: 1.5rem;
}

#certs aside {
  width: 200px;
}

#certs aside img {
  width: 100%;
}

.featured-img {
  max-width: 97vw;
  width: 45vw;
}

#facts aside {
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */
